<LI><A HREF="sec-1.html#s-1">1.  Introduction</A>
<LI><A HREF="sec-1.html#s-1.1">1.1. Evolution of the Conventions</A>
<LI><A HREF="sec-1.html#s-1.2">1.2.  Atoms</A>
<LI><A HREF="sec-1.html#s-1.2.1">1.2.1. What Are Atoms?</A>
<LI><A HREF="sec-1.html#s-1.2.2">1.2.2. Predefined Atoms</A>
<LI><A HREF="sec-1.html#s-1.2.3">1.2.3. Naming Conventions</A>
<LI><A HREF="sec-1.html#s-1.2.4">1.2.4.  Semantics</A>
<LI><A HREF="sec-1.html#s-1.2.5">1.2.5. Name Spaces</A>
<LI><A HREF="sec-1.html#s-1.2.6">1.2.6. Discriminated Names</A>
<LI><A HREF="sec-2.html#s-2">2. Peer-to-Peer Communication by Means of Selections</A>
<LI><A HREF="sec-2.html#s-2.1">2.1. Acquiring Selection Ownership</A>
<LI><A HREF="sec-2.html#s-2.2">2.2. Responsibilities of the Selection Owner</A>
<LI><A HREF="sec-2.html#s-2.3">2.3. Giving Up Selection Ownership</A>
<LI><A HREF="sec-2.html#s-2.3.1">2.3.1. Voluntarily Giving Up Selection Ownership</A>
<LI><A HREF="sec-2.html#s-2.3.2">2.3.2. Forcibly Giving Up Selection Ownership</A>
<LI><A HREF="sec-2.html#s-2.4">2.4. Requesting a Selection</A>
<LI><A HREF="sec-2.html#s-2.5">2.5. Large Data Transfers</A>
<LI><A HREF="sec-2.html#s-2.6">2.6. Use of Selection Atoms</A>
<LI><A HREF="sec-2.html#s-2.6.1">2.6.1. Selection Atoms</A>
<LI><A HREF="sec-2.html#s-2.6.1.1">2.6.1.1. The PRIMARY Selection</A>
<LI><A HREF="sec-2.html#s-2.6.1.2">2.6.1.2. The SECONDARY Selection</A>
<LI><A HREF="sec-2.html#s-2.6.1.3">2.6.1.3. The CLIPBOARD Selection</A>
<LI><A HREF="sec-2.html#s-2.6.2">2.6.2. Target Atoms</A>
<LI><A HREF="sec-2.html#s-2.6.3">2.6.3. Selection Targets with Side Effects</A>
<LI><A HREF="sec-2.html#s-2.6.3.1">2.6.3.1. DELETE</A>
<LI><A HREF="sec-2.html#s-2.6.3.2">2.6.3.2. INSERT_SELECTION</A>
<LI><A HREF="sec-2.html#s-2.6.3.3">2.6.3.3. INSERT_PROPERTY</A>
<LI><A HREF="sec-2.html#s-2.7">2.7. Use of Selection Properties</A>
<LI><A HREF="sec-2.html#s-2.7.1">2.7.1. TEXT Properties</A>
<LI><A HREF="sec-2.html#s-2.7.2">2.7.2. INCR Properties</A>
<LI><A HREF="sec-2.html#s-2.7.3">2.7.3. DRAWABLE Properties</A>
<LI><A HREF="sec-2.html#s-2.7.4">2.7.4. SPAN Properties</A>
<LI><A HREF="sec-2.html#s-2.8">2.8. Manager Selections</A>
<LI><A HREF="sec-3.html#s-3">3. Peer-to-Peer Communication by Means of Cut Buffers</A>
<LI><A HREF="sec-4.html#s-4">4. Client to Window Manager Communication</A>
<LI><A HREF="sec-4.html#s-4.1">4.1. Client's Actions</A>
<LI><A HREF="sec-4.html#s-4.1.1">4.1.1. Creating a Top-Level Window</A>
<LI><A HREF="sec-4.html#s-4.1.2">4.1.2. Client Properties</A>
<LI><A HREF="sec-4.html#s-4.1.2.1">4.1.2.1. WM_NAME Property</A>
<LI><A HREF="sec-4.html#s-4.1.2.2">4.1.2.2. WM_ICON_NAME Property</A>
<LI><A HREF="sec-4.html#s-4.1.2.3">4.1.2.3. WM_NORMAL_HINTS Property</A>
<LI><A HREF="sec-4.html#s-4.1.2.4">4.1.2.4. WM_HINTS Property</A>
<LI><A HREF="sec-4.html#s-4.1.2.5">4.1.2.5. WM_CLASS Property</A>
<LI><A HREF="sec-4.html#s-4.1.2.6">4.1.2.6. WM_TRANSIENT_FOR Property</A>
<LI><A HREF="sec-4.html#s-4.1.2.7">4.1.2.7. WM_PROTOCOLS Property</A>
<LI><A HREF="sec-4.html#s-4.1.2.8">4.1.2.8. WM_COLORMAP_WINDOWS Property</A>
<LI><A HREF="sec-4.html#s-4.1.2.9">4.1.2.9. WM_CLIENT_MACHINE Property</A>
<LI><A HREF="sec-4.html#s-4.1.3">4.1.3. Window Manager Properties</A>
<LI><A HREF="sec-4.html#s-4.1.3.1">4.1.3.1. WM_STATE Property</A>
<LI><A HREF="sec-4.html#s-4.1.3.2">4.1.3.2. WM_ICON_SIZE Property</A>
<LI><A HREF="sec-4.html#s-4.1.4">4.1.4. Changing Window State</A>
<LI><A HREF="sec-4.html#s-4.1.5">4.1.5. Configuring the Window</A>
<LI><A HREF="sec-4.html#s-4.1.6">4.1.6. Changing Window Attributes</A>
<LI><A HREF="sec-4.html#s-4.1.7">4.1.7. Input Focus</A>
<LI><A HREF="sec-4.html#s-4.1.8">4.1.8. Colormaps</A>
<LI><A HREF="sec-4.html#s-4.1.9">4.1.9. Icons</A>
<LI><A HREF="sec-4.html#s-4.1.10">4.1.10. Pop-up Windows</A>
<LI><A HREF="sec-4.html#s-4.1.11">4.1.11. Window Groups</A>
<LI><A HREF="sec-4.html#s-4.2">4.2. Client Responses to Window Manager Actions</A>
<LI><A HREF="sec-4.html#s-4.2.1">4.2.1. Reparenting</A>
<LI><A HREF="sec-4.html#s-4.2.2">4.2.2. Redirection of Operations</A>
<LI><A HREF="sec-4.html#s-4.2.3">4.2.3. Window Move</A>
<LI><A HREF="sec-4.html#s-4.2.4">4.2.4. Window Resize</A>
<LI><A HREF="sec-4.html#s-4.2.5">4.2.5. Iconify and Deiconify</A>
<LI><A HREF="sec-4.html#s-4.2.6">4.2.6. Colormap Change</A>
<LI><A HREF="sec-4.html#s-4.2.7">4.2.7. Input Focus</A>
<LI><A HREF="sec-4.html#s-4.2.8">4.2.8. ClientMessage Events</A>
<LI><A HREF="sec-4.html#s-4.2.8.1">4.2.8.1. Window Deletion</A>
<LI><A HREF="sec-4.html#s-4.2.9">4.2.9. Redirecting Requests</A>
<LI><A HREF="sec-4.html#s-4.3">4.3. Communication with the Window Manager by Means of Selections</A>
<LI><A HREF="sec-4.html#s-4.4">4.4. Summary of Window Manager Property Types</A>
<LI><A HREF="sec-5.html#s-5">5. Session Management</A>
<LI><A HREF="sec-5.html#s-5.1">5.1. Client Support for Session Management</A>
<LI><A HREF="sec-5.html#s-5.2">5.2. Window Manager Support for Session Management</A>
<LI><A HREF="sec-6.html#s-6">6. Manipulation of Shared Resources</A>
<LI><A HREF="sec-6.html#s-6.1">6.1. The Input Focus</A>
<LI><A HREF="sec-6.html#s-6.2">6.2. The Pointer</A>
<LI><A HREF="sec-6.html#s-6.3">6.3. Grabs</A>
<LI><A HREF="sec-6.html#s-6.4">6.4. Colormaps</A>
<LI><A HREF="sec-6.html#s-6.5">6.5. The Keyboard Mapping</A>
<LI><A HREF="sec-6.html#s-6.6">6.6. The Modifier Mapping</A>
<LI><A HREF="sec-7.html#s-7">7. Device Color Characterization</A>
<LI><A HREF="sec-7.html#s-7.1">7.1. XYZ <-> RGB Conversion Matrices</A>
<LI><A HREF="sec-7.html#s-7.2">7.2. Intensity <-> RGB Value Conversion</A>
<LI><A HREF="sec-8.html#s-8">8. Conclusion</A>
<LI><A HREF="sec-8.html#s-8.1">8.1. The X Registry</A>
<LI><A HREF="sec-A.html#s-A">A. Revision History</A>
<LI><A HREF="sec-A.html#s-A.1">A.1. The X11R2 Draft</A>
<LI><A HREF="sec-A.html#s-A.2">A.2. The July 27, 1988 Draft</A>
<LI><A HREF="sec-A.html#s-A.3">A.3. The Public Review Drafts</A>
<LI><A HREF="sec-A.html#s-A.4">A.4. Version 1.0, July 1989</A>
<LI><A HREF="sec-A.html#s-A.5">A.5. Version 1.1</A>
<LI><A HREF="sec-A.html#s-A.6">A.6. Public Review Draft, December 1993</A>
<LI><A HREF="sec-A.html#s-A.7">A.7. Version 2.0, April 1994</A>
<LI><A HREF="sec-B.html#s-B">B. Suggested Protocol Revisions</A>
<LI><A HREF="sec-C.html#s-C">C. Obsolete Session Manager Conventions</A>
<LI><A HREF="sec-C.html#s-C.1">C.1. Properties</A>
<LI><A HREF="sec-C.html#s-C.1.1">C.1.1. WM_COMMAND Property</A>
<LI><A HREF="sec-C.html#s-C.1.2">C.1.2. WM_CLIENT_MACHINE Property</A>
<LI><A HREF="sec-C.html#s-C.2">C.2. Termination</A>
<LI><A HREF="sec-C.html#s-C.3">C.3. Client Responses to Session Manager Actions</A>
<LI><A HREF="sec-C.html#s-C.3.1">C.3.1. Saving Client State</A>
<LI><A HREF="sec-C.html#s-C.3.2">C.3.2. Window Deletion</A>
<LI><A HREF="sec-C.html#s-C.4">C.4. Summary of Session Manager Property Types</A>
